[submodule "hardware/v2/analog/KiCad-RP-Pico"]
	path = hardware/v2/analog/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico.git
[submodule "src/POC/src/SharpFFTW"]
	path = src/POC/src/SharpFFTW
	url = https://github.com/wo80/SharpFFTW.git
[submodule "src/POC/src/WriteableBitmapEx"]
	path = src/POC/src/WriteableBitmapEx
	url = https://github.com/epsi1on/WriteableBitmapEx.git
