<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<appSettings>

		<add key="ch1_alpha_on" value="0.00258758307300196" />
		<!--alpha channel 1 where switch button is on (gpio is high)-->
		<add key="ch1_beta_on" value="-3.47845151256753" />
		<!--beta channel 1 where switch button is on (gpio is high)-->
		<add key="ch1_alpha_off" value="0.000910436941200705" />
		<!--alpha channel 1 where switch button is off (gpio is low)-->
		<add key="ch1_beta_off" value="-0.105118716011113" />
		<!--beta channel 1 where switch button is off (gpio is low)-->
	
	    <add key="adc_6sigma_thres" value="0.995" /> <!--threshold for good estimation of adc samples, used for calibration-->
	    <add key="adc_sigma_thres" value="7" /> <!--threshold for max std dev for adc samples over 1 sec, used for calibration-->
	</appSettings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
